body {
}
.jumbotron {
    background-image: url("../images/stair.jpg");
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	opacity: 90%;
}

.icon {
	font-size: 2rem;
}

.text-gray-600 {
    color: rgb(37, 107, 148);
}